* {
    margin: 0;
    padding: 0;
}

.log_in {
    background-image: url(Photos/background_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

group1
{
    margin: 0px 0px 15px 0px;
    display: flex;
    flex-direction: row;
}

group2
{
    display: flex;
    flex-direction: column;
}

group3
{
    margin: 0px 20px 0px 0px;
    padding: 3px;
    background-color: white;
    border: 1px grey solid;
    border-radius: 2px;
}

group4
{
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
}

.main
{
    width: 75vw;
    height: 85vh;
    margin: 3vh 0vh;
    padding: 30px;
    background-color: #749c9dd8;
    border-radius: 10px;
    position: relative;
}

label
{
    color: white;
    font-size: 20px;
}

input
{
    margin: 10px 0px 0px 0px; 
}

group2 input
{
    margin: 10px 25px 0px 0px;
}

group3 input
{
    margin: 0px 4px 0px 0px;
}

group3 label
{
    color: black;
}

#submit
{
    padding: 3px 15px;
}

#reset
{
    padding: 3px 15px;
}

select
{
    margin: 10px 25px 15px 0px;
}

textarea
{
    margin: 10px 0px 0px 0px;
}

legend
{
    color: white;
    font-size: 30px;
}

#form
{
    width: 350px;
    height: 250px;
    position: relative;
    left: 450px;
    margin: 10px;
    padding: 10px;
}

fieldset
{
    padding: 25px;
}

#sign_in {
    font-size: 20px;
    background-color: rgb(103, 199, 103);
    width: 80px;
    height: 35px;
}

/* Campaign details */

#details {
    margin: 10px;
    padding: 10px;
    position: absolute;
    bottom: 100px;
}

p {
    width: 200px;
    margin-bottom: 25px;
    color: #2d3842;
    font-size: 50px;
    font-weight: bold;
}

#text_detail {
    width: 415px;
    height: 300px;
    color: #2d3842;
    font-size: 20px;
}

/*PROFILE PAGE*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sedan+SC&display=swap');

* {
    margin: 0;
    padding: 0;
}

.dashboard {
    background-color: blue;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#group1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#group2
{
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#tabs {
    font-size: 35px;
    color: white;
    float: right;
    margin: 10px;
    position: relative;
}

#tabs a {
    color: white;
    margin-right: 5px;
    padding: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

#logo {
    font-size: 35px;
    color: white;
    float: left;
    margin: 10px;
    position: relative;
}

#logo a {
    font-family: "Lobster", sans-serif;
    color: white;
    margin-right: 5px;
    padding: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.profile {
    display: flex;
    margin: 20px;
    position: relative;
    flex-direction: row;
    align-items: flex-end;
}

#picture {
    background-color: red;
    width: 200px;
    height: 200px;
}

#name {
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    font-size: 35px;
    margin: 5px 20px;
}

#address {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin: 1px 20px;
}