* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Photos/background_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* main div (container) */

.main {
    background-color: #749c9dd8;
    width: 850px;
    height: 550px;
    padding: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 10px;
}

/* forms */

label {
    color: white;
    font-size: 20px;
}

legend {
    color: white;
    font-size: 30px;
}

#form {
    width: 350px;
    height: 250px;
    position: relative;
    left: 450px;
    margin: 10px;
    padding: 10px;
}

fieldset {
    padding: 25px;
}

#sign_in {
    font-size: 20px;
    background-color: rgb(103, 199, 103);
    width: 80px;
    height: 35px;
}

/* Campaign details */

#details {
    margin: 10px;
    padding: 10px;
    position: relative;
    bottom: 275px;
}

p {
    width: 200px;
    margin-bottom: 25px;
    color: #2d3842;
    font-size: 50px;
    font-weight: bold;
}

#text_detail {
    width: 415px;
    height: 300px;
    color: #2d3842;
    font-size: 20px;
}